@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600&display=swap');
*{
    font-family: 'Chivo Mono', monospace;
}
.form{
    box-shadow: 1px 5px 5px #AEB6BF;
    padding: 50px;
}
.form-label{
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    background-color: #fff;
    min-height: 100vh;
}
.container h1{
    font-size: 30px;
    text-align: end;
    padding-bottom: 40px;
    font-weight: 600;
    color: black;
}
